<div class="jumbotron cstmJumbo">
    {{!-- <img src="../public/assets/img/sushi1.png" class="sushi1">
    <img src="../public/assets/img/sushi2.png" class="sushi2"> --}}

    <h1 class="text-center cstmJumbotext">寿司を食べる</h1>

    <h5 class="text-center cstmJumbotext">Keep track of the sushis you'll eat and what you've already eaten!</h5>

    <br>
    <br>
    <div class="cstmForm">
        <div class="col-sm-4">
            <form class="form-inline" action="/api/sushis" method="POST">
                <input type="text" class="form-control mb-2" id="name" name="sushi_name" placeholder="Umami sushi">
                <button type="submit" class="mb-2 btn btn-success addSushiButton">Add The Sushi</button>
            </form>
        </div>
    </div>
</div>


<main>
    <div class="container">
        <div class="row">

            {{!-- SUSHIS NOT EATEN YET --}}
            <div class="col s6 sushisToEat">
                <div>
                    <h5 class="text-center">Sushi you're thinking about ✧</h5>
                    <br>
                    {{#each sushis}}
                    {{#unless this.devoured}}
                    <div>
                        <button type="submit" class="btn btn-primary sushiAvailable" data-id="{{this.id}}">
                            {{this.sushi_name}}</button>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>

            </div>

            {{!-- SUSHIS EATEN --}}
            <div class="col s6 sushisEaten">
                <div>
                    <h5 class="text-center">Sushi you've inhaled ♡</h5>
                    <br>
                    {{#each sushis}}
                    {{#if this.devoured}}
                    <div class='sushiEaten'>
                        <div>
                            <p>• {{this.sushi_name}}</p>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</main>