<h1>Eat-Da-Soosh!</h1>


<h2>Add A Sushi to Eat!!!</h2>

<div class="row">
    <div class="col s12">
        <form action="/api/sushis" method="POST">
            <input type="text" id="name" name="sushi_name" placeholder="Umami sushi">
            <button type="submit" class="addSushiButton">Add The Sushi</button>
        </form>
    </div>
</div>

<br>

<main>
    <div class="container">
        <div class="row">

            {{!-- SUSHIS NOT EATEN YET --}}
            <div class="col s6">
                {{#each sushis}}
                {{#unless this.devoured}}
                <div>
                    <button type="submit" class='sushiAvailable' data-id="{{this.id}}"> {{this.sushi_name}}</button>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            {{!-- SUSHIS EATEN --}}
            <div class="col s6">
                {{#each sushis}}
                {{#if this.devoured}}
                <div class='sushiEaten'>
                    <div>
                        {{this.sushi_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>
